[submodule "OLD/compiler/romi-32u4-arduino-library"]
	path = OLD/compiler/romi-32u4-arduino-library
	url = https://github.com/pololu/romi-32u4-arduino-library
[submodule "backend/emscripten"]
	path = backend/emscripten
	url = https://github.com/emscripten-core/emsdk.git
[submodule "OLD/compiler/browsertools/avrvm"]
	path = OLD/compiler/browsertools/avrvm
	url = https://github.com/jkmnt/avrvm
[submodule "OLD/compiler/compiler/ArduinoCore-avr"]
	path = OLD/compiler/compiler/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr
